@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  background-image: url("/public/background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: url('/public/cursor.png'), auto;
}

h1,
h2 {
  font-family: "Bungee Spice", serif;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); 
}

p,
li,
button {
  font-family: "Jersey 25", sans-serif;
  font-size: 32px !important;
  font-weight: 200;
  line-height: 1.3;
  color: #f1ba2d;
  text-shadow: 2px 2px 8px rgba(0,0,0,1); /* horizontal, vertical, blur, color */
}

.heading h1{
  font-size: 70px;
  display: flex;
  justify-content: center; 
  align-items: center;     
  flex-direction: column;
  margin-top: 200px;
}


canvas {
  position: relative;
  left: 80px;
}

.line {
  border: 2px solid #e29b36;
}

.cycle img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  border: 5px solid #e29b36;
}

.text-box {
  background: rgba(0, 0, 0, 0.5); /* semi-transparent dark box */
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 24px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.bg-music {
  display: none;
}

